{% extends "form-struct.html" %}
{% block title %}Log in{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
    <h1>Log in</h1>
    <form action="{{url_for('RegisterRouting.login')}}" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.user, placeholder="Username") }}
        {{ render_field(form.password, placeholder="Password") }}
        <input type="submit" value="Log in">
    </form>
{% endblock %}
