{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Datos Medicos</title>
  </head>
  <body>
    <header>
      <!-- header aqui -->
    </header>
    <section class="row">

        <!-- {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li><strong> {{ message }} </strong></li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endwith %} -->

      <div class="form">
        <h1>{{item.student_id}}</h1>
        <form class="form" action="{{url_for('MedicalRouting.editMedical', medical_id=medical_id, student_id=student.id)}}" method="post">
          {{ form.csrf_token }}
          {{ render_field(form.alergies) }} <br>
          {{ render_field(form.intensity ) }} <br>
          {{ render_field(form.special_condition) }} <br>
          {{ render_field(form.blood_type) }} <br>
          {{ render_field(form.ars) }} <br>
          {{ render_field(form.afiliation_type) }} <br>
          {{ render_field(form.policy_number) }} <br>


          <div><input type="submit" value="Enviar"></div><br>
          <div> <a href="{{url_for('MedicalRouting.deleteMedical', medical_id=medical_id, student_id=student.id)}}">Eliminar</a> </div>
        </form>
      </div>

  </section>
      <footer>
        <!-- footer aqui -->
      </footer>

  </body>
</html>
