{% extends "form-struct.html" %}
{% block title %}Editing medical data{% endblock %}
{% block content %}
    <h1>Medical Data of {{student.name}} {{student.last_name}}</h1>
    <div class="form-options">
        <a href="{{url_for('MedicalRouting.deleteMedical', medical_id=medical_id, student_id=student.id)}}">
            <button class="delete"> 
                Delete
            </button>
        </a> 
    </div>
    <form action="{{url_for('MedicalRouting.editMedical', medical_id=medical_id, student_id=student.id)}}" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.alergies) }}
        {{ render_field(form.intensity ) }}
        {{ render_field(form.special_condition) }}
        {{ render_field(form.blood_type) }}
        {{ render_field(form.ars) }}
        {{ render_field(form.afiliation_type) }}
        {{ render_field(form.policy_number) }} 
        <input type="submit" value="Save">
    </form>
{% endblock %}
