{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Editar datos medicos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register-form.css') }}">
  </head>
  <body>
      <div class="container">
          <div class="row form-container">
              <h1>{{item.student_id}}</h1>
              <div class="form-options">
                  <a href="{{url_for('MedicalRouting.deleteMedical', medical_id=medical_id, student_id=student.id)}}">
                      <button class="delete"> 
                          Eliminar
                      </button>
                  </a> 
              </div>
              <form action="{{url_for('MedicalRouting.editMedical', medical_id=medical_id, student_id=student.id)}}" method="post">
                  {{ form.csrf_token }}
                  {{ render_field(form.alergies) }}
                  {{ render_field(form.intensity ) }}
                  {{ render_field(form.special_condition) }}
                  {{ render_field(form.blood_type) }}
                  {{ render_field(form.ars) }}
                  {{ render_field(form.afiliation_type) }}
                  {{ render_field(form.policy_number) }} 
                  <input type="submit" value="Enviar">
              </form>
          </div>
      </div>
  </body>
</html>
