<html>

<body>
  <header>
    <!-- header aqui -->
  </header>
<section>
  <h1></h1>
  <h2>Registrar Datos Medicos</h2>
  <a href='{{url_for('MedicalRouting.newMedical', student_id= student.id)}}'> Add Medical Data </a>
  {% for r in item %}

  <div>

    <h3>Alergias:</h3><p> {{item[item.index(r)].alergies}} </p>
    <h3>Intensidad:</h3><p> {{item[item.index(r)].intensity}} </p>
    <h3>Condincion Especial:</h3><p> {{item[item.index(r)].special_condition}} </p>
    <h3>Tipo de Sangre:</h3><p> {{item[item.index(r)].blood_type}} </p>
    <h3>ARS:</h3><p> {{item[item.index(r)].ars}} </p>
    <h3>Tipo de Afiliación:</h3><p> {{item[item.index(r)].afiliation_type}} </p>
    <h3>Numero de Poliza:</h3><p> {{item[item.index(r)].policy_number}} </p>


    <br>
    <a href='{{url_for('MedicalRouting.editMedical', medical_id = item[item.index(r)].id, student_id= student.id )}}'>Edit/Delete </a>
    <br>
    <br>
  </div>

  {% endfor %}

  </section>
  <footer>
    <!-- footer aqui -->
  </footer>
</body>

</html>
