{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Usuarios</title>
  </head>
  <body>
    <header>
      <!-- header aqui -->
    </header>
    <section class="row">

        <!-- {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li><strong> {{ message }} </strong></li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endwith %} -->

      <div class="form">
        <h1>{{item.name}}</h1>
        <form class="form" action="{{url_for('StudentRouting.editStudent', student_id=student_id)}}" method="post" enctype="multipart/form-data">
          {{ form.csrf_token }}
          {{ render_field(form.name) }}
          {{ render_field(form.last_name) }}
          <input type="file" name="file" accept="image/*"/>
          <br>
          {{ render_field(form.email) }}
          {{ render_field(form.gender) }}
          {{ render_field(form.birthdate) }}
          {{ render_field(form.inscription_date) }}
          {{ render_field(form.ending_date) }}
          {{ render_field(form.retirement_date) }}

          <select class="" name="">
            <option value="">Cursos Aqui</option>
          </select>
          <br>
          <select class="" name="">
            <option value="">Lecciones Aqui</option>
          </select>
          <br>
          {{ render_field(form.phone_mobile) }}
          {{ render_field(form.phone_home) }}
          {{ render_field(form.id_document) }}
          {{ render_field(form.status) }}
          {{ render_field(form.marital_status) }}
          {{ render_field(form.nationality) }}
          {{ render_field(form.address) }}


          <div><input type="submit" value="Enviar"></div>
          <div> <a href="{{url_for('StudentRouting.deleteStudent', student_id=student_id)}}">Eliminar</a> </div>
        </form>
      </div>
    </section>

    <footer>
      <!-- footer aqui -->
    </footer>
  </body>
</html>
