{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/courses.css') }}">
{% endblock %}
{% block content %}
    <div class="container flow-column">
        <h1>Students</h1>
        <h3>Search the Student by his ID Number</h3>
        <form class="flow-row" action="{{url_for('StudentRouting.showStudent')}}" method="POST">
              <input name ="search" type = "text">
              <input type = "submit">
        </form>
        <hr>
        <a href='{{url_for('StudentRouting.newStudent')}}'> 
            <button class="add">
                Add student
            </button> 
        </a>
        <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Cellphone</th>
                <th>Actual Course</th>
                <th>State</th>
                <th></th>
              </tr>
              {% for r in item %}
                <tr>
                  <td>{{item[item.index(r)].name}} {{item[item.index(r)].last_name}}</td>
                  <td>{{item[item.index(r)].email}}</td>
                  <td>{{item[item.index(r)].phone_home}}</td>
                  <td>{{item[item.index(r)].phone_mobile}}</td>
                  <td>{{course[item[item.index(r)].actual_course|int -1].name}}</td>
                  <td>{{item[item.index(r)].status}}</td>
                  <td>
                    <a href='{{url_for('StudentRouting.infoStudent',student_id = item[item.index(r)].id)}}'>
                      <button>View</button> 
                    </a>
                  </td>
                </tr>
              {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}
