<html>
<head>
  <style>
    *{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }
    th{
      border: 1px solid red;
    }
  </style>
</head>
<body>

  <header>
    <!-- header aqui -->
  </header>
  
  <div>
    <h1>Estudiantes</h1>
    <h2>Registrar Nuevo Estudiante</h2>
    <a href='{{url_for('StudentRouting.newStudent')}}'> Add new student </a> 
  </div><br>

  <section>
   
    <div>
      <table width="100%", border="1", cellpadding="5">
        <tr>
          <th>Image of the Student</th>
          <th>Student Name</th>
          <th>Student Last Name</th>
          <th>Student Address</th>
          <th>Student Gender</th>
          <th>Student Email</th>
          <th>Student Birthdate</th>
          <th>Student Home Phone</th>
          <th>Student Cellphone</th>
          <th>Document of Identity</th>
          <th>Actual Course</th>
          <th>Actual Lesson</th>
          <th>State in the Institute</th>
          <th>Marital State</th>
          <th>Nationality</th>
        </tr>
        {% for r in item %}
        <tr>
          <td><img src="{{ url_for('static', filename ='images/%s' % (item[item.index(r)].image_path)) }}" alt="Profile Picture" height="100" width="150"></td>
          <td>{{item[item.index(r)].name}}</td>
          <td>{{item[item.index(r)].last_name}}</td>
          <td>{{item[item.index(r)].address}}</td>
          <td>{{item[item.index(r)].gender}}</td>
          <td>{{item[item.index(r)].email}}</td>
          <td>{{item[item.index(r)].birthdate}}</td>
          <td>{{item[item.index(r)].phone_home}}</td>
          <td>{{item[item.index(r)].phone_mobile}}</td>
          <td>{{item[item.index(r)].id_document}}</td>
          <td>{{item[item.index(r)].actual_course}}</td>
          <td>{{item[item.index(r)].actual_lesson}}</td>
          <td>{{item[item.index(r)].status}}</td>
          <td>{{item[item.index(r)].marital_status}} </td>
          <td>{{item[item.index(r)].nationality}}</td>
        </tr>
        <tr>
          <td><a href='{{url_for('StudentRouting.editStudent',student_id = item[item.index(r)].id)}}'>Edit/Delete </a></td>
          <td><a href="{{url_for('EmergencyRouting.showEmergency',student_id=item[item.index(r)].id)}}">Add/Edit Emergency Contact</a></td>
          <td><a href="{{url_for('MedicalRouting.showMedical',student_id=item[item.index(r)].id)}}">Add/Edit Medical Data </a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
</body>

</html>
