{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/courses.css') }}">
{% endblock %}
{% block content %}
    <div class="container flow-column">
        <h1>Courses</h1>
        <a href='{{url_for('CourseRouting.newCourse')}}'> 
            <button class="add">
                Add course
            </button> 
        </a>
        <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <th>Lessons</th> 
                <th>Link</th>
                <th></th>
            </tr>
            {% for r in course %}
                <tr>
                    <td>{{course[course.index(r)].name}}</td>
                    <td>{{course[course.index(r)].lesson}}</td> 
                    <td>
                        <a href="{{course[course.index(r)].link}}" target="_blank">
                            {{course[course.index(r)].link}}
                        </a>
                    </td>
                    <td>
                        <a href='{{url_for('CourseRouting.editCourse',course_id = course[course.index(r)].id)}}'>
                            <button>Edit</button> 
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}
