<html>

<body>


  <h1>Cursos</h1>
  <h2>Add nuevo Curso</h2>
  <a href='{{url_for('CourseRouting.newCourse')}}'> Add new course </a>
  {% for r in course %}

  <div>

    <p> {{course[course.index(r)].name}} </p>

    <p> {{course[course.index(r)].lesson}} </p>

    <a href=" {{course[course.index(r)].link}}">"Go to Page</a>
    <br>
    <a href='{{url_for('CourseRouting.editCourse',course_id = course[course.index(r)].id)}}'>Edit/Delete </a>
    <br>
    <br>
  </div>

  {% endfor %}
</body>

</html>
