{% extends "form-struct.html" %}
{% block title %}Editar {{item.name}}{% endblock %}
{% block content %}
    <h1>{{item.name}}</h1>
    <div class="form-options">
        <a href="{{url_for('CourseRouting.deleteCourse', course_id=course_id)}}">
            <button class="delete"> 
                Delete
            </button>
        </a> 
    </div>
    <form action="{{url_for('CourseRouting.editCourse', course_id=course_id)}}" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.name) }} 
        {{ render_field(form.lesson) }} 
        {{ render_field(form.link) }} 
        <input type="submit" value="Save">
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/edit-coursess.js')}}"></script>
{% endblock %}
