table {
    border-collapse: collapse;
    margin: 20px 5%;
    max-width: 90%;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #8080806b;
}

th {
    background-color: #3ca040e3;
    color: white;
    text-align: center;
}

tr > td:first-child {
    min-width: 250px;
}

.container > a {
    text-decoration: none;
}

form.flow-row > input {
    display: inline;
    max-width: 50%;
    margin-left: 10px;
}
