body {
  background: #F7F7F7;
  padding-bottom: 3%;
}

h1,
label,
input {
    color: #242424
}

.container > h1 {
    display: block;
    text-align: center;
    width: 100%;
}

label {
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.auth-level label {
    font-weight: normal;
}

.form-options {
    justify-content: flex-end;
    width: 76vw;
}

.form-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
}

.form-container > form {
    display: flex;
    flex-direction: column;
    width: 70vw;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 3% 3%;
    z-index: 1;
}

form > h3 {
    color: black;
    margin-bottom: 5px;
}

input[type=submit] {
    margin-top: 15px;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
select {
    background: #f2f2f2;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 6px;
    width: 100%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus {
    padding: 15px;
    border: 1px solid #479CE3;
    border-radius: 5px;
}

input[type=submit],
button.submit {
    padding: 9px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    font-size: 13pt;
    color: white;
    font-family: serif;
}

input[type=submit]:hover,
a.submit {
    background-color: #4CAF86;
}

a.submit {
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.two-ops {
    display: flex;
    align-items: center;
    justify-content: center;
}

.two-ops input[type=submit] {
    margin: 0;
    margin-right: 30px;
    padding: 10px 20px;
}

.two-ops a {
    text-decoration: none;
    color: white;
    background-color: #ec6778;
    border-radius: 5px;
    padding: 10px 20px;
}