<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <!-- header aqui -->
  </header>
  <div>
    <!-- esto va en un modal -->
    <h2> Seguro que desea eliminar este estudiante? </h2>
    <form action="{{url_for('EmergencyRouting.deleteEmergency',emergency_id=emergency_id, student_id=student.id)}}" method="post">
      <input type="submit" name="" value="Confirmar">
      <a href="{{url_for('EmergencyRouting.editEmergency', emergency_id = emergency_id, student_id= student.id )}}">Cancelar</a>
    </form>
  </div>
  <foooter>
    <!-- footer aqui -->
  </footer>
</body>
</html>
