{% extends "form-struct.html" %}
{% block title %}Edit {{item.name}}{% endblock %}
{% block content %}
    <h1>Editing contact</h1>
    <div class="form-options">
        <a href="{{url_for('EmergencyRouting.deleteEmergency', emergency_id=emergency_id, student_id=student.id)}}">
            <button class="delete"> 
                Delete
            </button>
        </a> 
    </div>
    <form class="form" action="{{url_for('EmergencyRouting.editEmergency', emergency_id=emergency_id, student_id=student.id)}}" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        {{ render_field(form.last_name) }} 
        {{ render_field(form.phone_mobile) }} 
        {{ render_field(form.phone_home) }} 
        {{ render_field(form.relationship) }} 
        <input type="submit" value="Save">
    </form>
{% endblock %}
