{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacto de Emergencia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register-form.css') }}">
  </head>
  <body>
      <div class="container">
          <div class="row form-container">
              <h1>Registro de Contactos de Emergencia</h1>
              <form action="{{url_for('EmergencyRouting.newEmergency', student_id= student.id)}}" method="post">
                  {{ form.csrf_token }}
                  {{ render_field(form.name) }} <br>
                  {{ render_field(form.last_name) }} <br>
                  {{ render_field(form.phone_mobile) }} <br>
                  {{ render_field(form.phone_home) }} <br>
                  {{ render_field(form.relationship) }} <br>
                  <input type="submit" value="Enviar">
              </form>
          </div>
      </div>
  </body>
</html>
