{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/courses.css') }}">
{% endblock %}
{% block content %}
    <div class="container flow-column">
        <h1>Emergency contacts</h1>
        <a href='{{url_for('EmergencyRouting.newEmergency', student_id= student.id)}}'>
            <button class="add">
                Add contact
            </button> 
        </a>
        <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <th>Lastname</th> 
                <th>Cell phone</th>
                <th>Phone</th>
                <th>Relationship</th>
                <th></th>
            </tr>
            {% for r in item %}
                <tr>
                    <td>{{item[item.index(r)].name}}</td>
                    <td>{{item[item.index(r)].last_name}}</td>
                    <td>{{item[item.index(r)].phone_mobile}}</td>
                    <td>{{item[item.index(r)].phone_home}}</td> 
                    <td>{{item[item.index(r)].relationship}}</td>
                    <td>
                        <a href='{{url_for('EmergencyRouting.editEmergency',emergency_id = item[item.index(r)].id, student_id= student.id)}}'>
                            <button>Edit</button> 
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}
