{% extends "form-struct.html" %}
{% block title %}Emergency contact{% endblock %}
{% block content %}
    <h1>Emergency contact</h1>
    <form action="{{url_for('EmergencyRouting.newEmergency', student_id= student.id)}}" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.name) }} <br>
        {{ render_field(form.last_name) }} <br>
        {{ render_field(form.phone_mobile) }} <br>
        {{ render_field(form.phone_home) }} <br>
        {{ render_field(form.relationship) }} <br>
        <input type="submit" value="Save">
    </form>
{% endblock %}
