<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Registration</title>
  </head>
  <body>
    <div class="row">
      <div class="form">
        <form class="registrationadmin" action="index.html" method="post">
          <label>Nombre</label>
          <div><input type="text" name="name" value=""></div><br>
          <label>Apellidos</label>
          <div><input type="text" name="last_name" value=""></div><br>
          <label>User_Name</label>
          <div><input type="text" name="user_name" value=""></div><br>
          <label>Contrasena</label>
          <div><input type="password" name="pass" value=""></div><br>
          <label>Verify Password</label>
          <div><input type="password" name="verify" value=""></div><br>
          <label>Correo</label>
          <div><input type="email" name="email" value=""></div><br>
          <label>Tipo de Permiso:</label>
          <div>
            Owner: <input type="radio" name="admin_type" value="">
            Regular Admin: <input type="radio" name="admin_type" value="">
          </div><br>
          <input type="submit" name="send" value="Crear">
        </form>
      </div>
    </div>
  </body>
</html>
