<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Formulario de Contacto</title>
  </head>
  <body>
    <div class="row">
      <div class="form">
        <h1>Emergency Contacts</h1>
        <form class="registration" action="index.html" method="post">
          <h3>Contacto 1</h3>
          <label>Nombre del Contacto</label>
          <div><input type="text" name="namecontact1" placeholder="Nombre del Contacto"></div><br>
          <label>Parentezco al Contacto</label>
          <div><input type="text" name="parentezco1" placeholder="Ej. Padre o Tutor Legal"></div><br>
          <label>Numero del Contacto</label>
          <div><input type="text" name="contact1"></div><br>
          <h3>Contacto 2</h3>
          <label>Nombre del Contacto</label>
          <div><input type="text" name="namecontact2" placeholder="Nombre del Contacto"></div><br>
          <label>Parentezco al Contacto</label>
          <div><input type="text" name="parentezco2" placeholder="Ej. Padre o Tutor Legal"></div><br>
          <label>Numero del Contacto</label>
          <div><input type="text" name="contact2"></div><br>
          <h3>Contacto 3</h3>
          <label>Nombre del Contacto</label>
          <div><input type="text" name="namecontact3" placeholder="Nombre del Contacto"></div><br>
          <label>Parentezco al Contacto</label>
          <div><input type="text" name="parentezco3" placeholder="Ej. Padre o Tutor Legal"></div><br>
          <label>Numero del Contacto</label>
          <div><input type="text" name="contact3"></div><br>
          <input type="submit" name="send" value="Enviar">
        </form>
      </div>
    </div>
  </body>
</html>
