<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cursos</title>
  </head>
  <body>
    <div class="row">
      <div class="form">
        <h1>Registracion de los cursos</h1>
        <form class="coursesform" action="index.html" method="post">
          <label>Ingrese el curso por donde va</label>
          <div><input type="text" name="course" placeholder="Ej. Intro to Computer Science" size="30"></div><br>
          <label>Ingrese la leccion por donde va</label>
          <div><input type="text" name="lession" placeholder="Ej. Lession 4" size="30"></div><br>
          <div><input type="submit" name="posting" value="Enviar"></div>
        </form>
      </div>
    </div>
  </body>
</html>
