<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Course Registration</title>
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../static/css/register-form.css">
  </head>
  <body>
      <div class="container">
        <header class="small-12">
            <div class="small-12 darker just-space-between">
                <div class="medium-2 img-logo hide-for-small-only">
                    <img src="../static/img/logo.png" alt="Logo">
                </div>
                <nav class="small-9">
                    <ul class="menu">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Admin</a></li>
                    </ul>
                </nav>
                <button class="button small-2">Log Out</button>
            </div>
        </header>
        <div class="row form-container">
              <h1>Course register</h1>
              <form action="" method="post">
                  <label>Course name</label>
                  <input type="text" name="name">
                  <label>Course Lessons</label>
                  <input type="number" name="lessons" value="1">
                  <label>Link of the Course</label>
                  <input type="text" name="link">
                  <input type="submit" name="send" value="Accept">
            </form>
        </div>
  </body>
</html>
