<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Contacts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../static/css/register-form.css">
  </head>
  <body>
      <div class="container">
        <header class="small-12">
            <div class="small-12 darker just-space-between">
                <div class="medium-2 large-1 img-logo hide-for-small-only">
                    <img src="../static/img/logo.png" alt="Logo">
                </div>
                <nav class="small-9 large-10">
                    <ul class="menu">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Admin</a></li>
                    </ul>
                </nav>
                <button class="button small-2">Log Out</button>
            </div>
        </header>
        <div class="row form-container">
              <h1>Emergency Contacts</h1> 
              <form action="" method="post">
                  <h3>First contact</h3>
                  <label>Name</label>
                  <input type="text" name="name">
                  <label>Phone number</label>
                  <input type="text" name="phone_number">
                  <label>Relationship</label>
                  <select name="relationship">
                      <option value="father">Father/Tutor</option>
                      <option value="family">Family member</option>
                      <option value="other">Other</option>
                  </select>
                  <hr>
                  <h3>Second contact</h3>
                  <label>Name</label>
                  <input type="text" name="name">
                  <label>Phone number</label>
                  <input type="text" name="phone_number">
                  <label>Relationship</label>
                  <select name="relationship">
                      <option value="father">Father/Tutor</option>
                      <option value="family">Family member</option>
                      <option value="other">Other</option>
                  </select>
                  <hr>
                  <h3>Third contact</h3>
                  <label>Name</label>
                  <input type="text" name="name">
                  <label>Phone number</label>
                  <input type="text" name="phone_number">
                  <label>Relationship</label>
                  <select name="relationship">
                      <option value="father">Father/Tutor</option>
                      <option value="family">Family member</option>
                      <option value="other">Other</option>
                  </select>
                  <input type="submit" name="send" value="Accept">
            </form>
        </div>
  </body>
</html>
