<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Formulario Horario</title>
  </head>
  <body>
    <div class="row">
      <div class="form">
        <h1>Horario del Estudiante</h1>
        <form class="formcalendar" action="index.html" method="post">
          <label>Indique los dias en que vendra al Cincinnatus</label>
          <div><input type="text" name="dias" placeholder="Ej. Lunes, Miercoles, Viernes" size="30"></div><br>
          <label>Indique el horario en que vendra al Cincinnatus</label>
          <div><select class="" name="tanda">
            <option value="Matutina">Matutina</option>
            <option value="Vespertina">Vespertina</option>
          </select></div><br>
          <input type="submit" name="send" value="Enviar">
        </form>
      </div>
    </div>
  </body>
</html>
