<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../static/css/register-form.css">
    <link rel="stylesheet" href="../static/css/login.css">
  </head>
  <body>
      <div class="container">
        <div class="row form-container">
              <form action="" method="post">
                  <h1>Log in</h1> 
                  <label>Nickname</label>
                  <input type="text" name="name">
                  <label>Password</label>
                  <input type="password" name="last_name">
                  <input type="submit" name="send" value="Accept">
            </form>
        </div>
  </body>
</html>