<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login After Registration</title>
    <link rel="stylesheet" href="./Css/LoginStyle.css">
  </head>
  <body>
    <div class="row">
      <div class="col-12">
        <h1 class="TitleLogin">Login</h1>
        <form class="Login" action="index.html" method="post">
          <label>Correo Electronico</label>
          <div class="correoInput"><input type="text" name="correo" value=""></div><br>
          <label>Introduce Contrasena</label>
          <div class="passwordInput"><input type="password" name="pass" value=""></div><br>
          <label>Verfica la contrasena</label>
          <div class="verifyInput"><input type="password" name="verify" value=""></div><br>
          <input type="submit" name="send" value="SignUp">
        </form>
      </div>
    </div>
  </body>
</html>
