<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registracion de datos medicos</title>
  </head>
  <body>
    <div class="row">
      <div class="form">
        <h1>Alergias</h1>
        <form class="medicaldata" action="index.html" method="post">
          <label>Cuales?</label>
          <div><input type="text" name="alergias" placeholder="Ej. Alergia al polvo"></div><br>
          <label>Posibles Reacciones</label>
          <div><input type="text" name="posiblereactions" placeholder="Ej. Nariz rojiza"></div><br>
          <label>Intensidad de estas reacciones..</label>
          <div>
            Leve: <input type="radio" name="intensity" value="Leve">
            Moderada: <input type="radio" name="intensity" value="Moderada">
            Severa: <input type="radio" name="intensiy" value="Severa">
          </div><br>
          <label>Condiciones Medicas Especiales</label>
          <div><input type="text" name="condictions" placeholder="Ej. SegundaPersonalidad"></div><br>
          <label>Medicamentos</label>
          <div><input type="text" name="medications" placeholder="Ej. Advil"></div><br>
          <label>Tipo de Sangre</label>
          <div>
            <div>O+: <input type="radio" name="bloodtype" value="O+"></div>
            <div>O-: <input type="radio" name="bloodtype" value="O-"></div>
            <div>A+: <input type="radio" name="bloodtype" value="A+"></div>
            <div>A-: <input type="radio" name="bloodtype" value="A-"></div>
            <div>B+: <input type="radio" name="bloodtype" value="B+"></div>
            <div>B-: <input type="radio" name="bloodtype" value="B-"></div>
            <div>AB+:<input type="radio" name="bloodtype" value="AB+"></div>
            <div>AB-: <input type="radio" name="bloodtype" value="AB-"></div>
            <div>No Sabe: <input type="radio" name="bloodtype" value="No Sabe"></div>
          </div><br>
          <label>Actualmente se encuentra afiliado/a a una ARS ?</label>
          <div>Si: <input type="radio" name="Ars" value="Si"></div>
          <div>No: <input type="radio" name="Ars" value="No"></div><br>
          <label>Nombre de la ARS</label>
          <div><input type="text" name="ArsName" placeholder="Ej. Ars Popular"></div><br>
          <label>Tipo de Afiliacion</label>
          <div>Dependiente: <input type="radio" name="typeafilation" value="Dependiente"> Titular: <input type="radio" name="typeafilation" value="Titular"></div><br>
          <label>Numero de Poliza</label>
          <div><input type="text" name="numberofpoliza" placeholder="Ej. xxx--xxxxxxx"></div>
        </form>
      </div>
    </div>
  </body>
</html>
