<header class="small-12">
    <div class="small-12 darker just-space-between">
        <div class="medium-2 large-1 img-logo hide-for-small-only">
            <img src="../static/img/logo.png" alt="Logo">
        </div>
        <nav class="small-9 large-10">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Admin</a></li>
            </ul>
        </nav>
        <button class="button small-2">Log Out</button>
    </div>            
</header>
