<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./Css/RegistrationStyle.css">
  </head>
  <body>
    <div class="row">
      <h1 class="Titleform">Registracion de Estudiantes</h1>
      <div class="container row">
        <div class="row">
          <div class="form col-7">
            <form class="registrationform col-10" action="index.html" method="post">
              <h1>Recoleccion de Datos Personales</h1>
              <div class="nameInput"><input type="text" name="nombre" placeholder="Coloque su nombre" size="37"></div><br>
              <div class="lastInput"><input type="text" name="apellidos" placeholder="Coloque sus apellidos" size="37"></div><br>
              <div class="genderInput">Masculino: <input type="radio" name="gender" value="Masculino">Femenino: <input type="radio" name="gender" value="Femenino"></div><br>
              <div class="birthdateInput">Fecha de Nacimiento: <input type="date" name="fecha_nacimiento"></div><br>
              <div class="nationalityInput"><input type="text" name="nationalidad" placeholder="Coloque su Nacionalidad" size="37"></div><br>
              <div class="addressInput"><input type="text" name="direccion" placeholder="Coloque su direccion" size="37"></div><br>
              <div class="phoneInput"><input type="text" name="telefono" placeholder="Coloque su numero de telefono" size="37"></div><br>
              <div class="cellphoneInput"><input type="text" name="celular" placeholder="Coloque su numero de celular" size="37"></div><br>
              <div class="statusInput"><input type="text" name="status" placeholder="Coloque su estatus social" size="37"></div><br>
              <div class="studiantdocument"><input type="text" name="identification" placeholder="Coloque su Identificacion" size="37"></div><br>
              <div class="emailInput"><input type="email" name="correo" placeholder="Coloque su Correo" size="37"></div><br>
              <div class="actualcourse"><input type="text" name="curso" placeholder="Coloque su Curso en Udacity" size="37"></div><br>
              <div class="actuallesson"><input type="text" name="lesson" placeholder="Coloque su leccion en Udacity" size="37"></div><br>
              <div class="buttonInput"><input type="submit" name="enviar" value="Enviar"></div>
            </form>
          </div>
      </div>
      </div>
    </div>
  </body>
</html>
