<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <!-- header aqui -->
  </header>
  <div>
    <h2> Seguro que desea eliminar este usuario? </h2>
    <form action="{{url_for('UserRouting.deleteUser', user_id=user_id)}}" method="post">
      <input type="submit" name="" value="Confirmar">
      <a href="{{url_for('UserRouting.editUser',user_id = user_id)}}">Cancelar</a>
    </form>
  </div>
  <footer>
    <!-- footer aqui -->
  </footer>
</body>
</html>
