{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cursos</title>
  </head>
  <body>
    <div class="row">

        <!-- {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li><strong> {{ message }} </strong></li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endwith %} -->

      <div class="form">
        <h1>Registro de usuario</h1>
        <form class="form" action="{{url_for('UserRouting.signUp')}}" method="post">
          {{ form.csrf_token }}
          {{ render_field(form.name) }}
          {{ render_field(form.user_name) }}
          {{ render_field(form.email) }}
          {{ render_field(form.password) }}
          {{ render_field(form.user_type) }}


          <div><input type="submit" value="Enviar"></div>
        </form>

      </div>
    </div>
  </body>
</html>
