{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registro de usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register-form.css') }}">
  </head>
  <body>
      <div class="container">
          <div class="row form-container">
              <h1>Registro de usuario</h1>
              <form action="{{url_for('UserRouting.signUp')}}" method="post">
                  {{ form.csrf_token }}
                  {{ render_field(form.name) }}
                  {{ render_field(form.user_name) }}
                  {{ render_field(form.email) }}
                  {{ render_field(form.password) }}
                  {{ render_field(form.user_type) }}
                  <input type="submit" value="Enviar">
              </form>
          </div>
      </div>
  </body>
</html>
