{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/courses.css') }}">
{% endblock %}
{% block content %}
    <div class="container flow-column">
        <h1>Users</h1>
        <a href='{{url_for('UserRouting.signUp')}}'> 
            <button class="add">
                Add user
            </button> 
        </a>
        <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <th>Nickname</th> 
                <th>Email</th>
                <th>User type</th>
                <th></th>
            </tr>
            {% for r in item %}
                <tr>
                    <td>{{item[item.index(r)].name}}</td>
                    <td>{{item[item.index(r)].user_name}}</td>
                    <td>{{item[item.index(r)].email}}</td>
                    <td>{{item[item.index(r)].user_type}}</td> 
                    <td>
                        <a href='{{url_for('UserRouting.editUser',user_id = item[item.index(r)].id)}}'>
                            <button>Edit</button> 
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}
